<div class="container-xl flex-fill postshow">
    {{if or .Auth.IsAdmin .Auth.IsMod}}
    <div class="my-3">
        <a class="btn btn-primary" href="/post/edit/{{.Dto.Id}}">Edit</a>
        <a class="btn btn-danger" href="/post/delete/{{.Dto.Id}}">Delete</a>
        {{if .Dto.Public}}
        <a class="btn btn-primary" href="/post/pub/{{.Dto.Id}}/hidden">Hide</a>
        {{else}}
        <a class="btn btn-success" href="/post/pub/{{.Dto.Id}}/public">Publish</a>
        {{end}}
    </div>
    {{end}}
    <h1>{{.Dto.Title}}</h1>
    <h6>{{.Dictionary.Editor.Author}}: <a href="/user/{{.Dto.Author.Username}}">@{{.Dto.Author.Username}}</a></h6>
    <h6>{{tformat .Dto.EditDate}}</h6>

    {{.Dto.Html}}
</div>
